        <div id="draganddrop-wrapper" class="drop">
            <div class="bg"></div>
            <div class="dropit">
                <img src="/img/gifs/dragon.gif" />
            </div>
            <div class="crunchit">
                <img src="/img/gifs/processing_small.gif" />
                <span>CRUNCHING</span>
            </div>
        </div>
        <div id="camera-wrapper">
            <div class="countdown">3</div>
            <img class="closecamera" src="/img/icons/close_button.png" />
            <p class="camerainfo">Can't click "Allow?" Watch <a target="_blank" href="http://www.youtube.com/watch?v=0tyHV_cz5gA">this video</a> to fix it!</p>
            <div class="takepicture">
                <img src="/img/icons/camera.43x32.png" />
            </div>
            <div class="camera">
                <img src="/img/gifs/crunch.gif" />
            </div>
        </div>
        <div id="wrapper">
            <div id="header-wrapper">
                <div id="header">
                    <div id="logo">
                        <a href="/"><img src="/img/logos/logo.png" /></a>
                    </div>
                    <div id="camera-button">
                        <img src="/img/icons/camera.43x32.png" />
                    </div>
                    <div id="roomInfo">
                        <span id="roomtitle">Public Room</span> (<span class="numactivedorks">0</span>)
                        <ul id="peopleinroom">
                        </ul>
                        <img id="logOut" src="/img/icons/log-out.png" />
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="left-wrapper">
                    <div id="left">
                        <div id="info">
                            <img src="/img/connection_error.png" />
                        </div>
                        <div id="chat-wrapper">
                            <div id="chat">
                            </div>
                        </div>
                        <form id="chatbox">
                            <input type="text" name="newchatmessage" id="newchatmessage" />
                        </form>
                    </div>
                </div>
                <div id="right-wrapper">
                    <div id="right">
                        <div id="postedby">Posted by <span></span></div>
                        <div id="stream">
                            <img class="currentstreamitem" src="" />
                        </div>
                        <div id="archive-wrapper">
                            <div class="archive-content">
                                <ul class="archive" class="clear">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>